/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

.title {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.subtitle {
    width: 100%;
    text-align: center;
}

.Footer {
    text-align: center;
    color: white;
    background-color: Black;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top:auto; 
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

@media only screen and (max-width: 320px) {
    .title {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .subtitle {
        width: 100%;
        text-align: center;
    }

    .Footer {
        text-align: center;
        color: white;
        background-color: Black;
        bottom: 0;
        width: 100%;
        height: 50px;
        margin-top:auto; 
        font-weight: bold;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position:relative;
    }
}