/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

/* html, body { height: 100%; padding: 0; margin: 0; } */

@media screen and (device-aspect-ratio: 40/71) {
    .ContactInfo {
        height: 53vh;
        width: 100%;
        text-align: center;
        background-color: lightgray;
    }
    
    .ContactHeader {
        font-size: 150%;
        font-weight: bold;
    }
}

@media only screen and (min-width: 600px) {
    .ContactInfo {
        height: 61vh;
        width: 100%;
        text-align: center;
        background-color: lightgray;
        font-size: 150%;
    }
    
    .ContactHeader {
        font-size: 150%;
        font-weight: bold;
    }
}

@media only screen and (min-width: 768px) {
    .ContactInfo {
        height: 71vh;
        width: 100%;
        text-align: center;
        background-color: lightgray;
        font-size: 200%;
    }
    
    .ContactHeader {
        font-size: 200%;
        font-weight: bold;
    }
}

@media only screen and (min-width: 992px) {
    .ContactInfo {
        height: 71vh;
        width: 100%;
        text-align: center;
        background-color: lightgray;
        font-size: 200%;
    }
    
    .ContactHeader {
        font-size: 250%;
        font-weight: bold;
    }
}

/* .ContactInfo {
    height: 70vh;
    background-color: lightgrey;
    text-align: center;
    font-size: 220%;
    font-weight: bold;
} */

/* .Subtitle {
    width: 100%;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

.Button {
    text-align: center;
    color: black;
}

.reqSection {
    height: 70vh;
    background-color: MediumTurquoise;
}

.contactSection {
    height: 22vh;
    background-color: Teal;
} */

