/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

.fill-height-or-more {
    display: flex;
  }

/* html, body { height: 100%; padding: 0; margin: 0; } */

@media only screen and (max-width: 320px) {
    .readSection {
        height: 19vh;
        background-color: #14C25C;
        text-align: center;
    }
    
    .reqSection {
        height: 15vh;
        background-color: #F2B233;
        text-align: center;
    }
    
    .contactSection {
        height: 15vh;
        background-color: #3abeff;
        text-align: center;
    }
    
    .InfomationTerp {
        height: 15vh;
        background-color: #F7FCFC;
        text-align: center;
    }

    .Subtitle {
        width: 100%;
        text-align: center;
        font-size: 100%;
        font-weight: bold;
    }
}

@media only screen and (min-width: 375px) {
    .readSection {
        height: 24vh;
        background-color: lightgrey;
    }

    .reqSection {
        height: 18vh;
        background-color: MediumTurquoise;
    }

    .contactSection {
        height: 18vh;
        background-color: Teal;
    }

    .Subtitle {
        width: 100%;
        text-align: center;
        font-size: 100%;
        font-weight: bold;
    }

    .Button {
        text-align: center;
        color: black;
        font-size: 25%;
    }
}
@media only screen and (min-width: 600px) {
    .readSection {
        height: 23vh;
        background-color: lightgrey;
    }

    .reqSection {
        height: 22vh;
        background-color: MediumTurquoise;
    }

    .contactSection {
        height: 22vh;
        background-color: Teal;
    }

    .Subtitle {
        width: 100%;
        text-align: center;
        font-size: 200%;
        font-weight: bold;
    }

    .Button {
        text-align: center;
        color: black;
    }
}

@media only screen and (min-width: 768px) {
    .readSection {
        height: 30vh;
        background-color: lightgrey;
    }

    .Subtitle {
        width: 100%;
        text-align: center;
        font-size: 250%;
        font-weight: bold;
    }
    
    .Button {
        text-align: center;
        color: black;
    }

    .reqSection {
        height: 24vh;
        background-color: MediumTurquoise;
    }

    .contactSection {
        height: 23vh;
        background-color: Teal;
    }
}

@media only screen and (min-width: 992px) {
    .readSection {
        height: 29vh;
        background-color: lightgrey;
    }

    .Subtitle {
        width: 100%;
        text-align: center;
        font-size: 250%;
        font-weight: bold;
    }
    
    .Button {
        text-align: center;
        color: black;
    }

    .reqSection {
        height: 24vh;
        background-color: MediumTurquoise;
    }

    .contactSection {
        height: 24vh;
        background-color: Teal;
    }
}


@media (min-width: 1281px) {
    .readSection {
        height: 22vh;
        background-color: lightgrey;
    }

    .Subtitle {
        width: 100%;
        text-align: center;
        font-size: 200%;
        font-weight: bold;
    }

    .Button {
        text-align: center;
        color: black;
    }

    .reqSection {
        height: 22vh;
        background-color: MediumTurquoise;
    }

    .contactSection {
        height: 22vh;
        background-color: Teal;
    }
}
