* {
    box-sizing: border-box;
}

/* .body {
    width: 60%;
    display: block;
    text-align: left;
}

label {
    display: inline-block;
    text-align: left;
    width: 160px;
} */

@media screen and (device-aspect-ratio: 40/71) {
    .body {
        width: 100%;
        text-align: left;
        background-color: lightgray;
        font-weight: bold;
    }

    label {
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    .body {
        width: 100%;
        text-align: left;
        background-color: lightgray;
        font-weight: bold;
        font-size: 150%
    }

    label {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .body {
        width: 100%;
        text-align: left;
        background-color: lightgray;
        font-weight: bold;
        font-size: 150%
    }

    label {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .body {
        width: 100%;
        text-align: left;
        background-color: lightgray;
        font-weight: bold;
        font-size: 200%
    }

    label {
        width: 100%;
    }
}

