/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

/* html, body { height: 100%; padding: 0; margin: 0; } */

@media only screen and (max-width: 600px) {
    .Submitted {
        height: 24vh;
        background-color: lightgrey;
        text-align: center;
        font-size: 220%;
        font-weight: bold;
    }

    /* .reqSection {
        height: 18vh;
        background-color: MediumTurquoise;
    }

    .contactSection {
        height: 17vh;
        background-color: Teal;
    } 

    .Subtitle {
        width: 100%;
        text-align: center;
        font-size: 100%;
        font-weight: bold;
    }

     .Button {
        text-align: center;
        color: black;
    } */
}

@media only screen and (min-width: 768px) {
    .Submitted {
        height: 24vh;
        background-color: lightgrey;
        text-align: center;
        font-size: 220%;
        font-weight: bold;
    }

    /* .Subtitle {
        width: 100%;
        text-align: center;
        font-size: 220%;
        font-weight: bold;
    }
    
    .Button {
        text-align: center;
        color: black;
    }

    .reqSection {
        height: 22vh;
        background-color: MediumTurquoise;
    }

    .contactSection {
        height: 20vh;
        background-color: Teal;
    } */
}

@media only screen and (min-width: 992px) {
    .Submitted {
        height: 24vh;
        background-color: lightgrey;
        text-align: center;
        font-size: 220%;
        font-weight: bold;
    }

    /* .Subtitle {
        width: 100%;
        text-align: center;
        font-size: 350%;
        font-weight: bold;
    }
    
    .Button {
        text-align: center;
        color: black;
    }

    .reqSection {
        height: 22vh;
        background-color: MediumTurquoise;
    }

    .contactSection {
        height: 20vh;
        background-color: Teal;
    } */
}

.Submitted {
    height: 24vh;
    background-color: lightgrey;
    text-align: center;
    font-size: 220%;
    font-weight: bold;
}

/* .Subtitle {
    width: 100%;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

.Button {
    text-align: center;
    color: black;
}

.reqSection {
    height: 24vh;
    background-color: MediumTurquoise;
}

.contactSection {
    height: 22vh;
    background-color: Teal;
} */


