* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* .logo {
    width: 50%;
    float: left;
}

.headerTitle {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 250%;
}


.headerSubtitle {
    width: 100%;
    text-align: center;
    font-size: 200%;
}

.headerSection {
    height: 28vh;
} */


@media only screen and (max-width: 320px) {
    .logo {
        width: 100%;
        height: 50%;
    }
    
    .headerTitle {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 200%;
    }
    
    
    .headerSubtitle {
        width: 100%;
        text-align: center;
        font-size: 100%;
    }
    
    .headerSection {
        height: 28vh;
        width: 100%;
        left: 50%
    }
}

@media only screen and (min-width: 375px) {
    .logo {
        width: 100%;
        height: 50%;
    }
    
    .headerTitle {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 250%;
    }
    
    
    .headerSubtitle {
        width: 100%;
        text-align: center;
        font-size: 150%;
    }
    
    .headerSection {
        height: 32vh;
        width: 100%;
        left: 50%
    }
}

@media only screen and (min-width: 600px) {
    .logo {
        width: 100%;
        height: 50%;
    }
    
    .headerTitle {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 250%;
    }
    
    .headerSubtitle {
        width: 100%;
        text-align: center;
        font-size: 150%;
    }
    
    .headerSection {
        height: 28vh;
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        width: 50%;
        height: 50%;
        float: left;
    }
    
    .headerTitle {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 250%;
    }
    
    .headerSubtitle {
        width: 100%;
        text-align: center;
        font-size: 150%;
    }
    
    .headerSection {
        height: 18vh;
    }
}

@media only screen and (min-width: 992px) {
    .logo {
        width: 40%;
        height: 100%;
        float: left;
    }
    
    .headerTitle {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 300%;
    }
    
    .headerSubtitle {
        width: 100%;
        text-align: center;
        font-size: 200%;
    }
    
    .headerSection {
        height: 26vh;
    }
}

@media only screen and (min-width: 1200px) {
    .logo {
        width: 50%;
        height: 100%;
        float: left;
    }
    
    .headerTitle {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 350%;
    }
    
    
    .headerSubtitle {
        width: 100%;
        text-align: center;
        font-size: 200%;
    }
    
    .headerSection {
        height: 26vh;
    }
}
